<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>cart</title>
  <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="vendors/linericon/style.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="vendors/nouislider/nouislider.min.css">

  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>
<!--================Cart Area =================-->
<section class="cart_area">
  <div class="container">
    </tr>
    </thead>
    <tbody>
    <tr th:each="item:${shoppingCartDto.items}">
      <td>
        <div class="media">
          <div class="d-flex">
            <img style="max-width: 150px;" th:src="${'data:image/png; base64, '+ item.image}" alt="">
          </div>
          <div class="media-body">
            <p th:text="${item.name}"></p>
          </div>
        </div>
      </td>
      <td>
        <h5 th:text="${'$'+item.price}"></h5>
      </td>
      <td>
        <div class="product_count">
          <input th:value="${item.quantity}" readonly type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                 class="input-text qty">
        </div>
      </td>
      <td>
        <h5 th:text="${'$'+item.total}"></h5>
      </td>
    </tr>
    <tr>
      <h5>Subtotal</h5>
      </td>
      <td>
        <h5 th:text="${'$'+shoppingCartDto.subTotal}"></h5>
      </td>
    </tr>
    <tr class="out_button_area">
      <td class="d-none-l">

      </td>
      <td class="">

      </td>
      <td>

      </td>
      <td>
        <div class="checkout_btn_inner d-flex align-items-center">
          <a class="gray_btn" href="/home">Continue Shopping</a>
          <a class="primary-btn ml-2" href="/checkout">Proceed to checkout</a>
        </div>
      </td>
    </tr>
    </tbody>
    </table>
  </div>
  </div>
  </div>
</section>
<!--================End Cart Area =================-->
</body>
</html>
