<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/vendors/nouislider/nouislider.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>
<!--================Single Product Area =================-->
<div class="product_image_area" th:object="${productDto}">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="owl-carousel owl-theme s_Product_carousel owl-loaded owl-drag">
                    <div class="single-prd-item">
                        <img style="min-width: 100%" class="img-fluid" th:src="${'data:image/png; base64, '+productDto.image}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3 th:text="${productDto.name}"></h3>
                    <h2 th:text="'$'+${productDto.price}"></h2>
                    <ul class="list">
                        <li><a class="active" href="#" ><span>Category: </span><span th:text="${productDto.category}"></span> </a></li>
                        <li><a href="#"><span>Availability: </span><span th:text="${productDto.quantity}"></span></a></li>
                    </ul>
                    <p th:text="${productDto.description}"></p>
                    <div class="product_count">
                        <form th:object="${chosenProductDto}" th:action="@{/product/{productId}(productId=${productDto.id})}" method="post">
                            <label for="qty">Quantity:</label>
                            <input th:field="*{quantity}" type="number" name="qty" id="sst" size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                            <button class="btn btn-primary" type="submit"> Add to cart </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
</body>
</html>
